* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --txtDesaturatedBlue: hsl(238, 29%, 16%);
  --txtSoftRed: hsl(14, 88%, 65%);
  --txtDarkGrayishBlue: hsl(237, 12%, 33%);
  --txtGrayishBlue: hsl(240, 6%, 50%);
  --bgSoftViolet: hsl(273, 75%, 66%);
  --bgSoftBlue: hsl(240, 73%, 65%);
  --hrLightGrayishBlue: hsl(240, 5%, 91%);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  background-color: var(--bgSoftViolet);
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  border-radius: 22px;
  background-color: white;
  position: relative;
  padding: 0 20px;
}
.woman {
  width: 240px;
  position: absolute;
  top: -110px;
}
.questioncontainer {
  width: 100%;
}
.questuontitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dark {
  color: var(--txtDesaturatedBlue);
}
.gray {
  color: var(--txtGrayishBlue);
}
.title{
  font-size: 16px;
  transition: 0.3s;
}
.title:hover {
  cursor: pointer;
  color: var(--txtSoftRed);
}
.answer {
  color: var(--txtGrayishBlue);
  overflow: hidden;
  transition: height 0.3s;
}
.divider {
  width: 100%;
  height: 1px;
  margin: 15px 0;
  background-color: var(--hrLightGrayishBlue);
}
